.clearfix{
    clear:both;
}

.manucho{
    float:right;
    list-style-type:none;

}
.manucho li{
    display:inline-block;
}
.manucho li:not(:last-child){
    padding-right:40px;
}
.logo{
    float:left;
}
.mercy{
    background:url("../images/ezgif-2-b583d0ce77.png") no-repeat center center/cover;
    height:60vh;
    
}


h1{
   
   color:blue;
   
}

   .wembley{
    position:absolute;
    top:50px;
    
    transform:translate(300%,20%);


}
.oldtrafford{
    display:flex;
}
.qualified{
    margin-top:50px;
margin-left:50px;
width:10%;
Box-shadow:5px 5px 5px darkgrey;
}
.Emergency{
    margin-top:50px;
margin-left: 50px;
width: 10%;
Box-shadow : 5px 5px  5px darkgrey;
}
.service{
    margin-top: 50px;
    margin-left: 50px;
    width:10%;
    Box-shadow : 5px 5px 5px darkgrey;

}